%h3= t('edit_saprfc_vl02')
%h5
  = link_to t('show'), @saprfc_vl02
  \|
  = link_to t('back'), saprfc_vl02s_path

= render 'form'

%h5
  = link_to t('show'), @saprfc_vl02
  \|
  = link_to t('back'), saprfc_vl02s_path