.panel.panel-default
  .panel-heading
    料號查詢
  .panel-body{style:'padding-bottom: 0px;'}
    = form_tag(matnr_onhand_enquiries_path, method: 'get', class: 'form-horizontal', id:'form_id') do
      .form-group
        .col-xs-12
          = text_field_tag :matnr, nil,placeholder: t('attributes.matnr'), class: 'form-control', value:params[:matnr], id: 'matnr'

    - if @barcodes.present?
      %dl.dl-horizontal.mobile
        %dd
        %dt= t('attributes.matnr')
        %dd= @barcodes.first.matnr
        %dt= t('attributes.maktx')
        %dd= @barcodes.first.maktx
        %dt= t('attributes.matkl')
        %dd= @barcodes.first.matkl
        %dt= t('attributes.menge')
        %dd
          = @htable[:menge]
          = @barcodes.first.meins
        %dt= t('attributes.box_cnt')
        %dd= @htable[:box_cnt]
        %dt= t('attributes.pallet_cnt')
        %dd= @htable[:pallet_cnt]

      .panel-group#accordion{role:'tablist'}
        - @htable[:storages].keys.sort.each do |key|
          .panel.panel-default
            .panel-heading{role:'tab', id: "heading#{key}"}
              %a{role:'button', href:"#collapse#{key}", data:{toggle:'collapse', parent:'#accordion'}, aria:{expanded:'true', controls:"collapse#{key}"}}
                = key
                .pull-right
                  = @htable[:storages][key][0]
                  = @barcodes.first.meins
                .small
                  = t('attributes.box_cnt')
                  = ':'
                  = @htable[:storages][key][1]
                  .pull-right
                    = t('attributes.pallet_cnt')
                    = ':'
                    = @htable[:storages][key][2]
            .panel-collapse.collapse{id:"collapse#{key}", role:'tabpanel', aria:{labelledby:"heading#{key}"}}
              .table-responsive
                %table.table.small.table-condensed#grid_view
                  %thead
                    %tr
                      %th= t('attributes.barcode')
                      %th= t('attributes.charg')
                      %th.text-right
                        = t('attributes.menge')
                      %th= t('attributes.werks')
                      %th= t('attributes.dcode')
                      %th= t('attributes.aufnr')
                      %th= t('attributes.budat')
                      %th= t('attributes.status')
                  %tbody
                    - @barcodes.select{|b| b.storage.eql?(key)}.each do |barcode|
                      %tr
                        %td
                          = barcode.name[0].upcase
                          = barcode.seq
                        %td= barcode.charg
                        %td.text-right
                          = barcode.menge if barcode.menge != 0
                        %td= barcode.werks
                        %td= barcode.datecode
                        %td= barcode.aufnr
                        %td= barcode.budat
                        %td= barcode.status