.panel.panel-default
  .panel-heading
    未上架庫存查詢
  .panel-body{style:'padding-bottom: 0px;'}
    = form_tag(not_putaway_enquiries_path, method: 'get', class: 'form-horizontal', id:'form_id') do
      .form-group
        .col-xs-12
          = select_options_tag :werks, Figaro.env.plant.split(","), class: 'form-control', value: params[:werks], prompt: t('attributes.werks')
      .form-group
        .col-xs-12
          = text_field_tag :matnr, nil,placeholder: t('attributes.matnr'), class: 'form-control', value:params[:matnr], id: 'matnr'
      .form-group
        .col-xs-12
          = button_tag class: 'btn btn-default btn-form-submit', type: 'button' do
            = t('search')
            %span.glyphicon.glyphicon-search

    - if @barcodes.present?
      .panel-group#accordion{role:'tablist'}
        - @storages.keys.sort.each do |key|
          .panel.panel-default
            .panel-heading{role:'tab', id: "heading#{key}"}
              %a{role:'button', href:"#collapse#{key}", data:{toggle:'collapse', parent:'#accordion'}, aria:{expanded:'true', controls:"collapse#{key}"}}
                = key
                .pull-right
                  = @storages[key][0]
                  = @storages[key][3]
              .small
                = t('attributes.box_cnt')
                = ':'
                = @storages[key][1]
                .pull-right
                  = t('attributes.pallet_cnt')
                  = ':'
                  = @storages[key][2]

            .panel-collapse.collapse{id:"collapse#{key}", role:'tabpanel', aria:{labelledby:"heading#{key}"}}
              .table-responsive
                %table.table.small.table-condensed#grid_view
                  %thead
                    %tr
                      %th= t('attributes.barcode')
                      %th= t('attributes.charg')
                      %th.text-right
                        = t('attributes.menge')
                      %th= t('attributes.dcode')
                      %th= t('attributes.aufnr')
                      %th= t('attributes.budat')
                      %th= t('attributes.status')
                  %tbody
                    - @barcodes.select{|b| b.matnr.eql?(key)}.each do |barcode|
                      %tr
                        %td
                          = barcode.name[0].upcase
                          = barcode.seq
                        %td= barcode.charg
                        %td.text-right
                          = barcode.menge if barcode.menge != 0
                        %td= barcode.datecode
                        %td= barcode.aufnr
                        %td= barcode.budat
                        %td= barcode.status